@model IEnumerable<AxiGroep_5.Models.LocatieViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Alle locaties</h1>

<p>
    <a asp-action="LocatieAanmaken">Nieuwe locatie aanmaken</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocatieId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MagazijnId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RijNummer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NiveauId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlekId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArtikelId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsBezet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AantalInLocatie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LocatieId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MagazijnId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RijNummer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NiveauId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlekId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArtikelId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsBezet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AantalInLocatie)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id=item.LocatieId }) |
                    @Html.ActionLink("Verwijder", "Delete", new { id=item.LocatieId  })
                </td>
            </tr>
        }
    </tbody>
</table>
