@model IEnumerable<LogicaLaag.ArtikelGroep>

@{
    ViewData["Title"] = "Index";
}

<h1>Artikelgroepen</h1>

<p>
    <a asp-action="Aanmaken">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beschrijving)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beschrijving)
            </td>
            <td>
                @Html.ActionLink("Update", "UpdateFormulier", new { id=item.GroepId }) |
                @Html.ActionLink("Details", "Details", new { id=item.GroepId }) |
                @Html.ActionLink("Verwijderen", "Verwijderen", new { id=item.GroepId }, new { onclick = "return confirm('Artikel groep verwijderen?');" })
            </td>
        </tr>
}
    </tbody>
</table>
