@model IEnumerable<GuitarTabASP.Models.MuziekNummerViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Zoek nummers</h1>

<p>
    <a asp-action="CreateNummer">Maak nummer aan.</a>
</p>


<form asp-action="SearchTerm">
      <div class=" form-group">
          <input name="zoekterm" id="zoekterm" type="text" />
    </div>
    <div class=" form-group">
         <input type="submit"value="zoekterm" class="btn btn-primary"/>
    </div>
    </form>
 <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tab)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beschrijving)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tab)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beschrijving)
            </td>
            @if (Html.ViewContext.HttpContext.Session.GetInt32("UserID") != null)
            {
                @if (item.userid == Convert.ToInt32(Html.ViewContext.HttpContext.Session.GetInt32("UserID")))
                {
                    <td>
                        @Html.ActionLink("Edit", "EditNummer", new { /* id=item.PrimaryKey */id = item.NummerID }) |
                        @Html.ActionLink("Details", "ViewNummer", new { /* id=item.PrimaryKey */id = item.NummerID }) |
                    </td>
                }
                else
                {
                    <td>
                        @Html.ActionLink("Details", "ViewNummer", new { /* id=item.PrimaryKey */id = item.NummerID })
                    </td>
                }
            }
            else
            {
                <td>
                    @Html.ActionLink("Details", "ViewNummer", new { /* id=item.PrimaryKey */id = item.NummerID })
                </td>
            }

        </tr>
        }
    </tbody>
</table>
